<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Provide support for component scanning -->
    <context:component-scan base-package="ir.maktab" />

    <!--Provide support for conversion, formatting and validation -->
    <mvc:annotation-driven/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- Production implementation of the JavaMailSender interface, supporting
            both JavaMail MimeMessages and Spring SimpleMailMessages -->
    <!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="jahanshir.sm92@gmail.com" />
		<property name="password" value="smh09511371jj" />

		&lt;!&ndash; The name of the property, following JavaBean naming conventions &ndash;&gt;
		<property name="javaMailProperties">
        <props>
            <prop key="mail.transport.protocol">smtp</prop>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.debug">true</prop>
        </props>
    </property>
    </bean>-->
    <!-- Configures Interceptors -->
    <mvc:interceptors>

        <!-- This XML will intercept all URIs -->
        <bean class="ir.maktab.config.LastViewInterceptor"></bean>

        <!-- This XML will apply interceptor to only configured URIs -->
        <!--
        <mvc:interceptor>
             <mvc:mapping path="/users"></mvc:mapping>
             <bean class="com.howtodoinjava.interceptor.DemoInterceptor"></bean>
        <mvc:interceptor>
         -->
    </mvc:interceptors>
</beans>